/node_modules
/public/images
/public/storage
/public/plugins
/public/js/instafeed-main.js
/public/js/instafeed-small.js
/storage
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
