// Variables
@import "variables";

//Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

// Bootstrap
// @import "~bootstrap/scss/bootstrap";


/* GLOBAL STYLES
-------------------------------------------------- */
body {
    @apply font-frontsite; 
    color: theme('colors.mainText');
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    top: 0;
    left: 0;
    height: 100vh;
    padding-top: 48vh;
    z-index: 10;
    position: absolute;
    width: 100%;
}

.carousel-caption p {
    font-size: 50px !important;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px 4px #000000;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.carousel-control-prev {
    z-index: 11;
}

.carousel-control-next {
    z-index: 11;
}

#myCarousel {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 900px) {
    .bloc-flottant {
        background: rgba(255, 255, 255, 0.9);
        position: absolute;
        width: 50%;
        padding: 50px;
        right: 10vh;
        max-height: 500px;
        overflow-x: auto;
    }
}

@media screen and (max-width: 900px) {
    .bloc-flottant {
        display: block;
        position: relative;
        width: 100%;
    }
}


.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*  Mosaic Thumbnail (derniers articles) */

.home_thumbnail img {
    transition: transform 0.3s ease-out;
    &:hover {
        transform: scale(1.075);
    }
}


//Main PAGE IMAGE///

.banner-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


//modif CSS/////////////////////////////////////////////////////////////
h1{
    @apply uppercase text-black font-bold;
    font-size: 2.7rem !important;
    font-weight: bolder !important;
    border-bottom: 3px solid $pink_nc;

}

h2 {
    @apply uppercase text-black font-bold;
    font-size: 1.8rem;
}

h3{
    @apply text-black font-bold;
    font-size: 1.4rem;
}

//PAGE MAIN CONTENT//@at-root


.custom{
    margin-left: 2.37em; 
    text-align: justify-content;

}
  


//////////////////////////////////////////////


.btn_calltoAction {
    @apply p-3 mb-5;
    border-radius: 1rem !important;
    width: 13%;
    text-decoration: none !important;
    display:inline-block;
    height: 125%;
    font-size: 1.3em;
    background-color: $pink_nc;
    border-radius: 6px;
    color: white;
}

.btn_calltoAction:hover {
    background-color: pink;
    color: rgba(0, 0, 0, 0.7);
}

/* Pastille for popular article */
.round_pastille {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #ce4963;
    margin-bottom: 20%;
    position: absolute;
    text-align: center;
    color: white;
    font-weight: bold;
    z-index: 4;
}
.circle_img {
    filter: drop-shadow(6px 8px 9px #5e1d2a);
    border-radius: 50%;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.popular_pastille {
    transition: transform 1s;
    transform-style: preserve-3d;
    text-shadow: 1px 1px 2px rgb(92, 18, 30);
}

.popular_pastille:hover {
    transform: rotateY(360deg);
}

/* Image Instagram */
/* .img_insta {
    width: 400px;
    margin: 3%;
}
 */
/* Main color NC */
.pink_nc{
  color: $pink_nc;
}

/*thumbnail instagram article full page*/
.img_insta_social{
    width: 180px;
    margin: 0.5%;
}
/*categorie btn article full page*/
.categ{
    border-radius: 20px;
    margin:1%;
    width: 30%;
    max-height: 40px;
}

.contact_form{
    background-color: #e3cdda;
    color: grey;
}

